In [4]:
import numpy as np
import pandas as pd

## Data extraction

In [5]:
!dir

 Volume in drive C is OS
 Volume Serial Number is D421-8CB8

 Directory of C:\Users\Giulia\Study\Spring20\CIL\exercise2

13/03/2020  18:13    <DIR>          .
13/03/2020  18:13    <DIR>          ..
27/02/2020  17:40    <DIR>          .ipynb_checkpoints
13/03/2020  18:13           662,729 Collaborative filtering.ipynb
27/02/2020  08:38        15,039,891 data_train.csv
25/02/2020  14:00            59,251 Exercise2.ipynb
13/03/2020  18:04        13,593,645 matrix.csv
27/02/2020  08:38        15,038,367 sampleSubmission.csv
03/03/2020  14:41        35,398,910 submission.csv
               6 File(s)     79,792,793 bytes
               3 Dir(s)  154,450,309,120 bytes free

In [6]:
data = pd.read_csv("data_train.csv")
data.head()

       Id  Prediction
0  r44_c1           4
1  r61_c1           3
2  r67_c1           4
3  r72_c1           3
4  r86_c1           5

In [10]:
matrix = pd.read_csv("matrix.csv", index_col="Unnamed: 0")
matrix.head()

,1,2,3,4,5,6,7,8,9,10,...,991,992,993,994,995,996,997,998,999,1000
44,4.0,4.0,NaN,5.0,5.0,NaN,2.0,5.0,NaN,NaN,...,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
61,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
67,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,3.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,4.0,NaN,NaN,NaN,NaN

In [11]:
subm = pd.read_csv("sampleSubmission.csv")
subm.head()

        Id  Prediction
0   r37_c1           3
1   r73_c1           3
2  r156_c1           3
3  r160_c1           3
4  r248_c1           3

In [12]:
def parse_row(Id):
    row = int(Id.split("_")[0][1:])
    return row

In [13]:
def parse_col(Id):
    col = int(Id.split("_")[1][1:])
    return col

In [40]:
X = pd.DataFrame()

In [41]:
data["row"] = list(map(parse_row,data["Id"].array))

In [42]:
data["col"] = list(map(parse_col,data["Id"].array))
data.head()

       Id  Prediction  row  col
0  r44_c1           4   44    1
1  r61_c1           3   61    1
2  r67_c1           4   67    1
3  r72_c1           3   72    1
4  r86_c1           5   86    1

In [43]:
matrix = pd.DataFrame()
matrix

Empty DataFrame
Columns: []
Index: []

In [44]:
def add_data(row,col,pred):
    matrix.loc[row,col] = pred

In [45]:
list(map(add_data,data["row"].array,data["col"].array,data["Prediction"].array))
print("Done.")

Done.

In [203]:
matrix.head()

,1,2,3,4,5,6,7,8,9,10,...,991,992,993,994,995,996,997,998,999,1000
44,4.0,4.0,NaN,5.0,5.0,NaN,2.0,5.0,NaN,NaN,...,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
61,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
67,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,3.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,4.0,NaN,NaN,NaN,NaN

In [14]:
matrix.shape

(10000, 1000)

In [15]:
total_el = 1000*10000
total_el

10000000

In [16]:
null_el = np.sum(np.sum(pd.isna(matrix)==True))
null_el/total_el

0.8823048

#### Repeating the same extraction procedure for the submission matrix

In [93]:
subm_matrix = pd.DataFrame()

In [94]:
subm["row"] = list(map(parse_row,subm["Id"].array))
subm["col"] = list(map(parse_col,subm["Id"].array))
subm.head()

        Id  Prediction  row  col
0   r37_c1           3   37    1
1   r73_c1           3   73    1
2  r156_c1           3  156    1
3  r160_c1           3  160    1
4  r248_c1           3  248    1

## Simple baseline algo
Just replacing the missing value with the mean

In [20]:
X = matrix.copy()

In [21]:
means = X.mean()
means.array

<PandasArray>
[3.3794117647058823, 3.5009416195856873, 3.4835858585858586,
  3.936472819216182, 3.5591311343523735, 4.6827697262479875,
 3.4466192170818504,  3.877497062279671, 2.9019607843137254,
 3.6460717009916093,
 ...
  2.910377358490566,  3.620218579234973, 2.7775510204081635,
  3.281767955801105,  3.752501087429317, 3.3476848090982942,
  3.435374149659864,  3.239406779661017,  3.353982300884956,
 3.6823056300268098]
Length: 1000, dtype: float64

In [22]:
X = X.fillna(value=means)
X.head()

,1,2,3,4,5,6,7,8,9,10,...,991,992,993,994,995,996,997,998,999,1000
44,4.0,4.000000,3.483586,5.000000,5.000000,4.68277,2.000000,5.000000,2.901961,3.646072,...,2.910377,4.000000,2.777551,3.281768,4.000000,3.347685,3.435374,3.239407,3.353982,3.682306
61,3.0,3.500942,3.483586,3.936473,3.559131,4.68277,3.446619,3.877497,2.901961,3.646072,...,2.910377,3.620219,2.777551,3.281768,3.752501,3.347685,3.435374,3.239407,4.000000,3.682306
67,4.0,3.500942,3.483586,3.936473,3.559131,4.68277,3.446619,3.877497,2.901961,3.646072,...,2.910377,3.000000,2.777551,3.281768,3.752501,3.347685,3.435374,3.239407,3.353982,3.682306
72,3.0,3.500942,3.483586,3.936473,3.559131,4.68277,3.446619,1.000000,2.901961,3.646072,...,2.910377,3.620219,2.777551,3.281768,3.752501,3.347685,3.435374,3.239407,3.353982,3.682306
86,5.0,3.500942,3.483586,3.936473,3.559131,4.68277,3.446619,3.877497,2.901961,3.646072,...,2.910377,3.620219,2.777551,5.000000,3.000000,4.000000,3.435374,3.239407,3.353982,3.682306

In [81]:
def concatenate(row,col):
    return "r" + row + "_c" + col

In [162]:
subm["True_pred"] = list(map(lambda r,c: X.loc[r,c],subm["row"],subm["col"]))

In [166]:
new_sub = subm[["Id","True_pred"]]
new_sub.columns = ["Id","Prediction"]
new_sub

                  Id  Prediction
0             r37_c1    3.379412
1             r73_c1    3.379412
2            r156_c1    3.379412
3            r160_c1    3.379412
4            r248_c1    3.379412
...              ...         ...
1176947  r9974_c1000    3.682306
1176948  r9977_c1000    3.682306
1176949  r9978_c1000    3.682306
1176950  r9982_c1000    3.682306
1176951  r9996_c1000    3.682306

[1176952 rows x 2 columns]

## Improving the solution

In [23]:
X.head()

,1,2,3,4,5,6,7,8,9,10,...,991,992,993,994,995,996,997,998,999,1000
44,4.0,4.000000,3.483586,5.000000,5.000000,4.68277,2.000000,5.000000,2.901961,3.646072,...,2.910377,4.000000,2.777551,3.281768,4.000000,3.347685,3.435374,3.239407,3.353982,3.682306
61,3.0,3.500942,3.483586,3.936473,3.559131,4.68277,3.446619,3.877497,2.901961,3.646072,...,2.910377,3.620219,2.777551,3.281768,3.752501,3.347685,3.435374,3.239407,4.000000,3.682306
67,4.0,3.500942,3.483586,3.936473,3.559131,4.68277,3.446619,3.877497,2.901961,3.646072,...,2.910377,3.000000,2.777551,3.281768,3.752501,3.347685,3.435374,3.239407,3.353982,3.682306
72,3.0,3.500942,3.483586,3.936473,3.559131,4.68277,3.446619,1.000000,2.901961,3.646072,...,2.910377,3.620219,2.777551,3.281768,3.752501,3.347685,3.435374,3.239407,3.353982,3.682306
86,5.0,3.500942,3.483586,3.936473,3.559131,4.68277,3.446619,3.877497,2.901961,3.646072,...,2.910377,3.620219,2.777551,5.000000,3.000000,4.000000,3.435374,3.239407,3.353982,3.682306

#### SVD decomposition

In [24]:
U,D,V_t = np.linalg.svd(X)

In [28]:
U.shape

(10000, 10000)

U is the matrix user->concept

In [29]:
V_t.shape

(1000, 1000)

In [30]:
V = V_t.transpose()

V is the matrix item-> concept

In [31]:
D = np.eye(10000,1000)*D

Now, to make better predictions, let's **map each movie to its latent space**

If we want an error less than 10% then we should calculate how many dimension make up 90% of the spectral norm of the matrix

In [41]:
total_F = np.trace(D**2)
total_10 = np.trace(D[:,:10]**2)
total_10/total_F

0.9912081447567247

With only 10 dimensions we already get < 0.01 reconstruction error, so we'll use 10.

In [45]:
D_k = D[:,:10]

In [62]:
D_sqrt = np.sqrt(D_k)
D_sqrt.shape

(10000, 10)

In [64]:
U_prime = U[:,:10]
U_prime.shape

(10000, 10)

Now we map the movies in X in the latent space spanned by the first 10 singular vectors in U

In [65]:
compressed = np.transpose(U_prime).dot(X)
compressed.shape

(10, 1000)

We now decompress by re-applying U

In [66]:
decompressed = U_prime.dot(compressed)
decompressed.shape

(10000, 1000)

Let's compute the reconstruction error

In [68]:
err_2 = np.linalg.norm(X-decompressed,2)
err_F = np.linalg.norm(X-decompressed,"fro")
err_2

68.20507105463845

In [78]:
D[10,10]

68.20507105463861

In [74]:
err_F**2

1170814.9143043328

In [79]:
np.trace(D[10:,10:]**2)

1170814.91430433

## Matrix factorization method

In [46]:
X = matrix.copy()
X.head()

,1,2,3,4,5,6,7,8,9,10,...,991,992,993,994,995,996,997,998,999,1000
44,4.0,4.0,NaN,5.0,5.0,NaN,2.0,5.0,NaN,NaN,...,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
61,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
67,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,3.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,4.0,NaN,NaN,NaN,NaN

In [47]:
na = X.isna()
observed = X.shape[0]*X.shape[1] - np.sum(np.sum(na))
total = X.shape[0]*X.shape[1]
observed

1176952

In [48]:
observed/total

0.1176952

In [49]:
# So one every 10 entries is observed

In [50]:
# We will factorise X as the product U*Z.t, 
# where U is 10000xk and Z is 1000*k

In [51]:
# The value of k determines the level of compression, 
# or the number of latent factors we will take 
# into consideration 
k = 100

In [52]:
# Initialise U and Z 
U = 0.1*np.random.randn(10000,k)
Z = 0.1*np.random.randn(1000,k)

In [53]:
# Now we can define the cost function
# as the sum of the errors on each observed value

In [54]:
def cost(A,B):
    return np.sum(np.sum((X-A.dot(B.T))**2))/(2*observed)

In [55]:
# We can use a first order method to minimise 
# the cost function

In [56]:
# To be faster and cheaper we use 
# STOCHASTIC GRADIENT DESCENT
# The stochastic gradient will randomly 
# pick a sample and update the rows of U 
# and Z corresponding to that sample.

# For the sample x_dn we will update 
# the row U_d and the row Z_n with the 
# update being equal to

$$ z_n = (X_{dn}-u_d^Tz_n)u_d$$
$$ u_d = (X_{dn}-u_d^Tz_n)z_n$$

In [66]:
def update(d,n,X,A,B,gamma):
    error = X.loc[d,n] - A[d-1,:].dot(B[n-1,:])
    A= A+ gamma*error*B[n-1,:]
    B= B+ gamma*error*A[d-1,:]
    return A,B

In [67]:
# We still have to solve the part where we randomly pick 
# the indices. For this, we'll use the original indices matrix
data.head()

       Id  Prediction  row  col
0  r44_c1           4   44    1
1  r61_c1           3   61    1
2  r67_c1           4   67    1
3  r72_c1           3   72    1
4  r86_c1           5   86    1

In [68]:
def generate_indeces():
    index = np.random.randint(0,data.shape[0])
    sample = data.loc[index]
    d = sample["row"]
    n = sample["col"]
    return d,n

In [ ]:
# Initialise U and Z 
U = 0.1*np.random.randn(10000,k)
Z = 0.1*np.random.randn(1000,k)

In [86]:
# Now let's put it all together 
def stochastic_gradient_descent(X,U,Z,epochs,gamma):
    for e in range(epochs):
        error = cost(U,Z)
        print("--------------- Epoch ",e," ---------------------")
        print("--- Initial error: ",error)
        for o in range(1000):
            d,n = generate_indeces()
            U,Z = update(d,n,X,U,Z,gamma)
            if o%100 == 0:
                error = cost(U,Z)
                print("Epoch ",e,", iterate ",o,", error ",error)
        print("Epoch ",e,", iterate ",o,", error ",error)  
    return U,Z

In [74]:
# run with gamma = 0.001
epochs = 5
gamma = 0.001
U,Z = stochastic_gradient_descent(X)

--------------- Epoch  0  ---------------------
--- Initial error:  8.070329420796087
Epoch  0 , iterate  0 , error  8.070282913494157
Epoch  0 , iterate  100 , error  8.06260197314513
Epoch  0 , iterate  200 , error  8.043203728056021
Epoch  0 , iterate  300 , error  7.997072566531665
Epoch  0 , iterate  400 , error  7.898768645473882
Epoch  0 , iterate  500 , error  7.688911709861439
Epoch  0 , iterate  600 , error  7.293748828140556
Epoch  0 , iterate  700 , error  6.548848945296184
Epoch  0 , iterate  800 , error  5.352490871466803
Epoch  0 , iterate  900 , error  3.7457186938382567
Epoch  0 , iterate  1000 , error  2.0463225075438793
Epoch  0 , iterate  1100 , error  1.1967444265720835
Epoch  0 , iterate  1200 , error  0.8437171625865463
Epoch  0 , iterate  1300 , error  0.7004772667853153
Epoch  0 , iterate  1400 , error  0.6595653608976051
Epoch  0 , iterate  1500 , error  0.661980861500193
Epoch  0 , iterate  1600 , error  0.6623731692592132
Epoch  0 , iterate  1700 , error  0.6640376897838601
Epoch  0 , iterate  1800 , error  0.6593106714207522
Epoch  0 , iterate  1900 , error  0.6688420839886318
Epoch  0 , iterate  2000 , error  0.6602370775670554
Epoch  0 , iterate  2100 , error  0.6631552353040515
Epoch  0 , iterate  2200 , error  0.6591865637684685
Epoch  0 , iterate  2300 , error  0.6660041272207318
Epoch  0 , iterate  2400 , error  0.6624432117250394
Epoch  0 , iterate  2500 , error  0.6604435706002938
Epoch  0 , iterate  2600 , error  0.6637399118829103
Epoch  0 , iterate  2700 , error  0.6591324659918002
Epoch  0 , iterate  2800 , error  0.6629712374213574
Epoch  0 , iterate  2900 , error  0.666402945659128
Epoch  0 , iterate  3000 , error  0.6620491803110097
Epoch  0 , iterate  3100 , error  0.6606618001897887
Epoch  0 , iterate  3200 , error  0.6709397909398839
Epoch  0 , iterate  3300 , error  0.6602079343092602
Epoch  0 , iterate  3400 , error  0.6642047517581626
Epoch  0 , iterate  3500 , error  0.6619667008069081
Epoch  0 , iterate  3600 , error  0.6621716928856352
Epoch  0 , iterate  3700 , error  0.6593593714560315
Epoch  0 , iterate  3800 , error  0.658686533952552
Epoch  0 , iterate  3900 , error  0.6589429808762266
Epoch  0 , iterate  4000 , error  0.6588882204769552
Epoch  0 , iterate  4100 , error  0.6593101709864174
Epoch  0 , iterate  4200 , error  0.6585744962385932
Epoch  0 , iterate  4300 , error  0.6707449625642002
Epoch  0 , iterate  4400 , error  0.6619570772731777
Epoch  0 , iterate  4500 , error  0.6637466439001537
Epoch  0 , iterate  4600 , error  0.6585367380436276
Epoch  0 , iterate  4700 , error  0.6603904643576577
Epoch  0 , iterate  4800 , error  0.6586354917468382
Epoch  0 , iterate  4900 , error  0.6599346784091982
Epoch  0 , iterate  4999 , error  0.6599346784091982

In [87]:
# we run it again, with a smaller gamma, for a longer time 
epochs = 5
gamma = 0.0001
U2, Z2 = stochastic_gradient_descent(X,U,Z,epochs,gamma)

--------------- Epoch  0  ---------------------
--- Initial error:  0.6595405048837962
Epoch  0 , iterate  0 , error  0.6595781552751231
Epoch  0 , iterate  100 , error  0.6594067828759727
Epoch  0 , iterate  200 , error  0.6586754948998046
Epoch  0 , iterate  300 , error  0.6586563408211114
Epoch  0 , iterate  400 , error  0.6588296816004547
Epoch  0 , iterate  500 , error  0.6589794316585669
Epoch  0 , iterate  600 , error  0.6588342392207169
Epoch  0 , iterate  700 , error  0.6587179744134406
Epoch  0 , iterate  800 , error  0.6590383248780912
Epoch  0 , iterate  900 , error  0.6590752011737087
Epoch  0 , iterate  999 , error  0.6590752011737087
--------------- Epoch  1  ---------------------
--- Initial error:  0.6599748032904387
Epoch  1 , iterate  0 , error  0.6598719221091484
Epoch  1 , iterate  100 , error  0.6606204741498621
Epoch  1 , iterate  200 , error  0.6607868831509838
Epoch  1 , iterate  300 , error  0.6613533914156355
Epoch  1 , iterate  400 , error  0.6609472962869345
Epoch  1 , iterate  500 , error  0.660311021915762
Epoch  1 , iterate  600 , error  0.6589478512140149
Epoch  1 , iterate  700 , error  0.6587875726879513
Epoch  1 , iterate  800 , error  0.6584090699263675
Epoch  1 , iterate  900 , error  0.6583484077675319
Epoch  1 , iterate  999 , error  0.6583484077675319
--------------- Epoch  2  ---------------------
--- Initial error:  0.6582183189188806
Epoch  2 , iterate  0 , error  0.6582054078693107
Epoch  2 , iterate  100 , error  0.6582014774071082
Epoch  2 , iterate  200 , error  0.6582239564741197
Epoch  2 , iterate  300 , error  0.658275149078436
Epoch  2 , iterate  400 , error  0.6582615837622117
Epoch  2 , iterate  500 , error  0.658382948205036
Epoch  2 , iterate  600 , error  0.6581560353748667
Epoch  2 , iterate  700 , error  0.6582863674684286
Epoch  2 , iterate  800 , error  0.65818971525957
Epoch  2 , iterate  900 , error  0.658218811090352
Epoch  2 , iterate  999 , error  0.658218811090352
--------------- Epoch  3  ---------------------
--- Initial error:  0.6582202196668605
Epoch  3 , iterate  0 , error  0.6582296742340779
Epoch  3 , iterate  100 , error  0.6581608980663123
Epoch  3 , iterate  200 , error  0.658153625069037
Epoch  3 , iterate  300 , error  0.6581247298734874
Epoch  3 , iterate  400 , error  0.6581513161112436
Epoch  3 , iterate  500 , error  0.6581822753799396
Epoch  3 , iterate  600 , error  0.6582163489270517
Epoch  3 , iterate  700 , error  0.6582715229218842
Epoch  3 , iterate  800 , error  0.658320042507811
Epoch  3 , iterate  900 , error  0.6582946003735709
Epoch  3 , iterate  999 , error  0.6582946003735709
--------------- Epoch  4  ---------------------
--- Initial error:  0.6583307017870603
Epoch  4 , iterate  0 , error  0.658315899324863
Epoch  4 , iterate  100 , error  0.6582724628335542
Epoch  4 , iterate  200 , error  0.6584237539043423
Epoch  4 , iterate  300 , error  0.6582619783518554
Epoch  4 , iterate  400 , error  0.6583045637699656
Epoch  4 , iterate  500 , error  0.6582329752510637
Epoch  4 , iterate  600 , error  0.6585663371345103
Epoch  4 , iterate  700 , error  0.658908281890048
Epoch  4 , iterate  800 , error  0.6589344647729665
Epoch  4 , iterate  900 , error  0.658430086985187
Epoch  4 , iterate  999 , error  0.658430086985187

In [88]:
# we run it again, with a smaller gamma, for a longer time 
epochs = 5
gamma = 0.0001
U3, Z3 = stochastic_gradient_descent(X,U2,Z2,epochs,gamma)

--------------- Epoch  0  ---------------------
--- Initial error:  0.6581870651651802
Epoch  0 , iterate  0 , error  0.6581777756080148
Epoch  0 , iterate  100 , error  0.6582288719053
Epoch  0 , iterate  200 , error  0.6582330825446215
Epoch  0 , iterate  300 , error  0.658104093082451
Epoch  0 , iterate  400 , error  0.6582141074189061
Epoch  0 , iterate  500 , error  0.6582684841493978
Epoch  0 , iterate  600 , error  0.6583235071713258
Epoch  0 , iterate  700 , error  0.6584063992968587
Epoch  0 , iterate  800 , error  0.6581591353316334
Epoch  0 , iterate  900 , error  0.6581772455455587
Epoch  0 , iterate  999 , error  0.6581772455455587
--------------- Epoch  1  ---------------------
--- Initial error:  0.6581435191236014
Epoch  1 , iterate  0 , error  0.6581165698848906
Epoch  1 , iterate  100 , error  0.6582205408935811
Epoch  1 , iterate  200 , error  0.6582654730336821
Epoch  1 , iterate  300 , error  0.658093786570533
Epoch  1 , iterate  400 , error  0.6582642627736723
Epoch  1 , iterate  500 , error  0.6581965719583379
Epoch  1 , iterate  600 , error  0.6582831691906759
Epoch  1 , iterate  700 , error  0.6581203136229892
Epoch  1 , iterate  800 , error  0.6581097295750771
Epoch  1 , iterate  900 , error  0.6580131453450224
Epoch  1 , iterate  999 , error  0.6580131453450224
--------------- Epoch  2  ---------------------
--- Initial error:  0.6580279034151122
Epoch  2 , iterate  0 , error  0.6580268217981784
Epoch  2 , iterate  100 , error  0.6584470397260174
Epoch  2 , iterate  200 , error  0.6582271720779937
Epoch  2 , iterate  300 , error  0.6582281255602807
Epoch  2 , iterate  400 , error  0.6580886788958432
Epoch  2 , iterate  500 , error  0.6582865203018418
Epoch  2 , iterate  600 , error  0.6585590574082723
Epoch  2 , iterate  700 , error  0.6592867003507142
Epoch  2 , iterate  800 , error  0.6591376028212526
Epoch  2 , iterate  900 , error  0.6586054131906612
Epoch  2 , iterate  999 , error  0.6586054131906612
--------------- Epoch  3  ---------------------
--- Initial error:  0.6584645321263565
Epoch  3 , iterate  0 , error  0.6585163859001623
Epoch  3 , iterate  100 , error  0.6583140097103399
Epoch  3 , iterate  200 , error  0.6587156290864299
Epoch  3 , iterate  300 , error  0.6587833965467388
Epoch  3 , iterate  400 , error  0.6589805064592426
Epoch  3 , iterate  500 , error  0.6590027457196318
Epoch  3 , iterate  600 , error  0.6585777710465331
Epoch  3 , iterate  700 , error  0.6580111269770865
Epoch  3 , iterate  800 , error  0.658672184724306
Epoch  3 , iterate  900 , error  0.6582823602480072
Epoch  3 , iterate  999 , error  0.6582823602480072
--------------- Epoch  4  ---------------------
--- Initial error:  0.6580629548615544
Epoch  4 , iterate  0 , error  0.6580796222339721
Epoch  4 , iterate  100 , error  0.6579721359060341
Epoch  4 , iterate  200 , error  0.6580304279712664
Epoch  4 , iterate  300 , error  0.6579924853953443
Epoch  4 , iterate  400 , error  0.6579439649482199
Epoch  4 , iterate  500 , error  0.6579459605989243
Epoch  4 , iterate  600 , error  0.6579246593184531
Epoch  4 , iterate  700 , error  0.6579641560035118
Epoch  4 , iterate  800 , error  0.6579167092229253
Epoch  4 , iterate  900 , error  0.6579146597854204
Epoch  4 , iterate  999 , error  0.6579146597854204

In [98]:
# we run it again, this time with a bigger gamma, for the same time 
epochs = 5
gamma = 0.0005
U4, Z4 = stochastic_gradient_descent(X,U3,Z3,epochs,gamma)

--------------- Epoch  0  ---------------------
--- Initial error:  0.6579070277069473
Epoch  0 , iterate  0 , error  0.6579076724139062
Epoch  0 , iterate  100 , error  0.6579143745159357
Epoch  0 , iterate  200 , error  0.6596843282806821
Epoch  0 , iterate  300 , error  0.6582280476956198
Epoch  0 , iterate  400 , error  0.657911842631518
Epoch  0 , iterate  500 , error  0.6581238384044894
Epoch  0 , iterate  600 , error  0.6582232376437894
Epoch  0 , iterate  700 , error  0.6583486138606096
Epoch  0 , iterate  800 , error  0.6579582169802293
Epoch  0 , iterate  900 , error  0.6599793338029392
Epoch  0 , iterate  999 , error  0.6599793338029392
--------------- Epoch  1  ---------------------
--- Initial error:  0.661040397818933
Epoch  1 , iterate  0 , error  0.6603262813966737
Epoch  1 , iterate  100 , error  0.6590105956687904
Epoch  1 , iterate  200 , error  0.6590091583662678
Epoch  1 , iterate  300 , error  0.6578830678645021
Epoch  1 , iterate  400 , error  0.6578291784203601
Epoch  1 , iterate  500 , error  0.6576917832686009
Epoch  1 , iterate  600 , error  0.6577199503927704
Epoch  1 , iterate  700 , error  0.6577911132919495
Epoch  1 , iterate  800 , error  0.6578389785348934
Epoch  1 , iterate  900 , error  0.6590702057334678
Epoch  1 , iterate  999 , error  0.6590702057334678
--------------- Epoch  2  ---------------------
--- Initial error:  0.6578815897473613
Epoch  2 , iterate  0 , error  0.6580416221309173
Epoch  2 , iterate  100 , error  0.6599589059224397
Epoch  2 , iterate  200 , error  0.6576013662283756
Epoch  2 , iterate  300 , error  0.6581249456996359
Epoch  2 , iterate  400 , error  0.6576038350709664
Epoch  2 , iterate  500 , error  0.6575881651330879
Epoch  2 , iterate  600 , error  0.6583396179524146
Epoch  2 , iterate  700 , error  0.6602988412585244
Epoch  2 , iterate  800 , error  0.6600359313797677
Epoch  2 , iterate  900 , error  0.6576213268488534
Epoch  2 , iterate  999 , error  0.6576213268488534
--------------- Epoch  3  ---------------------
--- Initial error:  0.6574692581079492
Epoch  3 , iterate  0 , error  0.6574687873399322
Epoch  3 , iterate  100 , error  0.6578520464366431
Epoch  3 , iterate  200 , error  0.6574742115362331
Epoch  3 , iterate  300 , error  0.6613610410246232
Epoch  3 , iterate  400 , error  0.6579450275987302
Epoch  3 , iterate  500 , error  0.6607852085644906
Epoch  3 , iterate  600 , error  0.6594079018727994
Epoch  3 , iterate  700 , error  0.6573680481468568
Epoch  3 , iterate  800 , error  0.6583175141361214
Epoch  3 , iterate  900 , error  0.6596020155606797
Epoch  3 , iterate  999 , error  0.6596020155606797
--------------- Epoch  4  ---------------------
--- Initial error:  0.6575827345740708
Epoch  4 , iterate  0 , error  0.657455730376029
Epoch  4 , iterate  100 , error  0.6591574262587275
Epoch  4 , iterate  200 , error  0.6586247412290688
Epoch  4 , iterate  300 , error  0.6580387698866762
Epoch  4 , iterate  400 , error  0.6599909372911473
Epoch  4 , iterate  500 , error  0.6572201732365965
Epoch  4 , iterate  600 , error  0.65726752130362
Epoch  4 , iterate  700 , error  0.6572720792777406
Epoch  4 , iterate  800 , error  0.6572163233206982
Epoch  4 , iterate  900 , error  0.657393768690879
Epoch  4 , iterate  999 , error  0.657393768690879

In [100]:
# we run it again, this time with a bigger gamma, for the same time 
epochs = 5
gamma = 0.001
U5, Z5= stochastic_gradient_descent(X,U4,Z4,epochs,gamma)

--------------- Epoch  0  ---------------------
--- Initial error:  0.6579221514643193
Epoch  0 , iterate  0 , error  0.658038896109861
Epoch  0 , iterate  100 , error  0.6571218550090772
Epoch  0 , iterate  200 , error  0.6595341095709008
Epoch  0 , iterate  300 , error  0.6595528977926739
Epoch  0 , iterate  400 , error  0.6571915101644487
Epoch  0 , iterate  500 , error  0.6577200182908389
Epoch  0 , iterate  600 , error  0.6579176079094893
Epoch  0 , iterate  700 , error  0.6574521522760255
Epoch  0 , iterate  800 , error  0.6613834983761248
Epoch  0 , iterate  900 , error  0.6597383428093894
Epoch  0 , iterate  999 , error  0.6597383428093894
--------------- Epoch  1  ---------------------
--- Initial error:  0.6603087274832891
Epoch  1 , iterate  0 , error  0.6611718226404374
Epoch  1 , iterate  100 , error  0.6576790306260781
Epoch  1 , iterate  200 , error  0.6572706246314117
Epoch  1 , iterate  300 , error  0.6623249852602452
Epoch  1 , iterate  400 , error  0.6570508232932006
Epoch  1 , iterate  500 , error  0.6596304140240379
Epoch  1 , iterate  600 , error  0.6614944017347676
Epoch  1 , iterate  700 , error  0.6613151789495635
Epoch  1 , iterate  800 , error  0.6581387859122981
Epoch  1 , iterate  900 , error  0.6565372786866888
Epoch  1 , iterate  999 , error  0.6565372786866888
--------------- Epoch  2  ---------------------
--- Initial error:  0.6755956035190711
Epoch  2 , iterate  0 , error  0.6737053462130019
Epoch  2 , iterate  100 , error  0.6580082244243473
Epoch  2 , iterate  200 , error  0.6570403658476045
Epoch  2 , iterate  300 , error  0.6575185813922574
Epoch  2 , iterate  400 , error  0.6563622299540484
Epoch  2 , iterate  500 , error  0.6573582030585587
Epoch  2 , iterate  600 , error  0.6567542561408974
Epoch  2 , iterate  700 , error  0.6737408298401966
Epoch  2 , iterate  800 , error  0.6562031905114388
Epoch  2 , iterate  900 , error  0.6576663235982626
Epoch  2 , iterate  999 , error  0.6576663235982626
--------------- Epoch  3  ---------------------
--- Initial error:  0.6564764309442751
Epoch  3 , iterate  0 , error  0.6562937302345447
Epoch  3 , iterate  100 , error  0.6637070030512963
Epoch  3 , iterate  200 , error  0.6726038374692282
Epoch  3 , iterate  300 , error  0.6562985888946749
Epoch  3 , iterate  400 , error  0.6570648857543921
Epoch  3 , iterate  500 , error  0.6569102708392466
Epoch  3 , iterate  600 , error  0.6601604738810486
Epoch  3 , iterate  700 , error  0.6560034178009212
Epoch  3 , iterate  800 , error  0.6593108733527883
Epoch  3 , iterate  900 , error  0.6568382793814362
Epoch  3 , iterate  999 , error  0.6568382793814362
--------------- Epoch  4  ---------------------
--- Initial error:  0.6559668661410861
Epoch  4 , iterate  0 , error  0.6559611192530984
Epoch  4 , iterate  100 , error  0.6560242307386929
Epoch  4 , iterate  200 , error  0.656138842819316
Epoch  4 , iterate  300 , error  0.6569766449519954
Epoch  4 , iterate  400 , error  0.6586587414541886
Epoch  4 , iterate  500 , error  0.6558865156835697
Epoch  4 , iterate  600 , error  0.6562882997745152
Epoch  4 , iterate  700 , error  0.6561416813462464
Epoch  4 , iterate  800 , error  0.665650535161604
Epoch  4 , iterate  900 , error  0.6625795649274624
Epoch  4 , iterate  999 , error  0.6625795649274624

In [99]:
# Completing the matrix X with the factorized version U*Z
completed = U4.dot(Z4.T)

# Remember to save

In [64]:
 X.to_csv("matrix.csv")

In [91]:
X_rec = pd.DataFrame(completed)
X_rec = X_rec.set_index(X.index)
X_rec.columns = X.columns
X_rec.head(5)

,1,2,3,4,5,6,7,8,9,10,...,991,992,993,994,995,996,997,998,999,1000
44,4.563736,3.741196,3.771147,4.158151,4.201784,4.613622,4.062889,4.187085,4.206585,4.442228,...,4.235842,3.794160,4.146881,4.274104,4.255629,4.108252,4.246185,4.220075,3.975903,4.253765
61,4.411763,3.845903,3.965030,4.138996,4.304614,4.455227,4.221584,4.114344,4.013472,4.428195,...,4.388418,4.132745,4.216962,4.290299,4.261546,4.180392,4.321260,4.165140,3.930046,4.040173
67,4.423566,3.783939,3.784076,4.009504,4.202390,4.309046,4.174735,4.051049,3.918190,4.482734,...,4.081868,3.889046,4.038174,4.030824,4.240599,4.033240,4.133848,4.067195,3.943926,4.122645
72,4.462344,4.025768,3.722808,4.135230,4.259163,4.309456,4.202192,3.974448,4.005771,4.404364,...,3.945642,3.914383,4.085443,4.210444,4.115034,3.961138,4.002790,4.171902,3.922188,4.228494
86,4.208900,3.630612,3.505327,3.612157,3.860906,4.094545,3.915693,3.836708,3.928660,4.082280,...,3.827751,3.580238,3.700839,3.542575,3.924400,3.597302,3.671745,3.750344,3.854041,3.799512

In [95]:
subm["True_pred"] = list(map(lambda r,c: X_rec.loc[r,c],subm["row"],subm["col"]))
subm.head()

        Id  Prediction  row  col  True_pred
0   r37_c1           3   37    1   4.200288
1   r73_c1           3   73    1   4.675035
2  r156_c1           3  156    1   4.346989
3  r160_c1           3  160    1   4.171748
4  r248_c1           3  248    1   4.520813

In [96]:
new_sub = subm[["Id","True_pred"]]
new_sub.columns = ["Id","Prediction"]
new_sub

                  Id  Prediction
0             r37_c1    4.200288
1             r73_c1    4.675035
2            r156_c1    4.346989
3            r160_c1    4.171748
4            r248_c1    4.520813
...              ...         ...
1176947  r9974_c1000    4.057663
1176948  r9977_c1000    3.797008
1176949  r9978_c1000    3.509707
1176950  r9982_c1000    3.874927
1176951  r9996_c1000    4.062067

[1176952 rows x 2 columns]

In [97]:
new_sub.to_csv("submission_completion.csv",index=False)